@import url(font-awesome.min.css);
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #c0dff8, #90c6f8);
    /* background-image: url('rainbow-background.jpg'); */
}

.container
{
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 300px auto;
    /* box-shadow: ; */
}

.container, .todo-header
{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.container, .todo-input
{
    width: 100%;
    height: 45%;
}

.todo-input input
{
    width: 89%;
    height: 34px;
    border-radius: 4px;
    margin-bottom: 28px;
    margin-left: -12px;
    margin-right: 0;
    border: 1px solid #d9d9d9;
    padding-left: 5px;
    transition: all 0.3s ease;
    outline: #97c3e9;
}

input:focus
{
    font-size: 20px;
    font-weight: 530px;
    background: #c4e2fc;
    color: #fff;
}

/* ::placeholder pseudo-element
{
    font-size: 13px;
} */

::placeholder 
{
    font-size: 14px;
}

.todo-input button, .list-check-icon
{
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.1s ease;
    opacity: 0.6;
    font-size: 20px;
    /* pointer-events: none; */
}

.todo-input button
{
    width: 34px;
    height: 32px;
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    background: #83c2fc;
}

.list-check-icon .fa-list-check
{
    width: 30px;
    height: 28px;
    margin-bottom: 10px;
    cursor: text;
    background: #ffc8dd;
}

.todo-input button:hover
{
    background: #bde0fe;
}

.todo-input button:active
{
    opacity: 1;
    pointer-events: auto;
}

.todo-list li
{
    text-align: left;
    position: relative;
    list-style: none;
    margin-bottom: 9px;
    padding-left: 9px;
    background-color: #a2d2ff;
    color: #fff;
    border-radius: 4.5px;
    overflow: hidden;
}

.todo-list li .icon
{
    position: absolute;
    right: -45px;
    top: 50%;
    width: 45px;
    /* height: 90px; */
    color: #fff;
    background-color: #ffc8dd;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 0px;
   
    /* align-content: space-between; */
}

.todo-list li:hover .icon
{
    right: 0px;
}

ul li.checked 
{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before 
{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 0.4rem;
    left: 26.8rem;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* .close 
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover 
{
    background-color: #f44336;
    color: white;
} */
  
.todo-info
{
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.todo-info .removeAll-btn, .edit-btn
{
    border: none;
    background: #83c2fc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
    opacity: 0.6;
    font-size: 14.3px;
    font-weight:549;
    
    /* pointer-events: auto; */
}

.todo-info button:active
{
    opacity: 1;
    /* pointer-events: auto; */
}

.todo-info .removeAll-btn
{
    padding: 6px 11px;
    margin-top: 11px;
    margin-left: 5px;
}

.todo-info .edit-btn
{
    padding: 6px 34px;
    margin-left: 28px;
}

.todo-info button:hover
{
    background: #bde0fe;
}

.todo-info .removeAll-btn:active
{
    opacity: 1;
    pointer-events: auto;
}

.pendingTasks
{
    color: #ffc8dd;
}

.info-txt
{
    font-size: 21px;
}

/* .icon::before
{
    font-family: FontAwesome;
    font-style: normal;
} */